.form-control-feedback{
	width: 65px;
}    
	
.modal-content{
	background: rgba(217, 247, 244, 0.52);
}

.modal-body{
	padding-top: 20px;
    padding-right: 70px;
    padding-bottom: 20px;
    padding-left: 70px;	
}

.form-control{
	
	border: 2px solid #ccc; 
	width:100%;
}

#glyphicon-email{
	padding-top:20px;
}

.modal-title{
	
	text-align:center;
}



.modal-price{
	background: rgba(255,255,255,1); 
	border-radius:10px; 
	padding-bottom:20px;
}

.modal-price h2{
	display:inline-block;
	padding-bottom:0.2em;
}

.rubl{
	float:left;
}

.price-service{
	text-align:center;
	font-size: 50px;
}

.sale{
	float:right;
}

.modal-price p{
	text-align:center;
}

.modal-block-content{
	padding-top:20px;
}

#input-product{
	text-align:center;
}

.modal-footer span{
	font-size: 16px;
}

#result-price{
	padding-bottom:10px;
}

#input-email{
	padding-top:20px;
}

#button-dispatch{
	width:100%;
}

.price span{
	text-align:center;
}

#indent{
 float:right;
}